version: "2.2"
services:
  hub:
    build:
      context: containers/hub
      dockerfile: Dockerfile
      args:
        - HTTP_PROXY=${HTTP_PROXY}
        - HTTPS_PROXY=${HTTPS_PROXY}
        - http_proxy=${http_proxy}
        - https_proxy=${https_proxy}
        - TUTOR_USERNAME=${TUTOR_USERNAME:-tutor}
        - TUTOR_PASSWORD=${TUTOR_PASSWORD:-tutor}
    ports:
      - "127.0.0.1:8000:8000"
    volumes:
      - ./data/lessons:/home/tutor/lessons
      - ./data/students:/home/tutor/students
